input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    height: 0.2em;
    background-color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    // box-shadow: none;
    // border: none;
    // background: transparent;
    // -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    @include circle(1em);
    border: 0;
    background: #fff;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  @include circle(1em);
    border: 0;
    background: #fff;
}