button {
  font-size: 1em;
  border: none;
  outline:none;
  letter-spacing: 0.1em;
  transition: $transition;
  @include rect(6em, 2em);
  
  background: $baseColor;
  color:$coolColor;

}
button:hover {
  background-color:$coolColor;
  color: $baseColor;

}