// http://blog.scottlogic.com/2016/01/06/audio-api-with-d3.html

@import 'base/variables';
@import 'base/layout';
@import 'base/assets';


#main {
  font-family: monospace;
  background-color: $baseColor;
  color: #fff;
  overflow:hidden;
  &.cool{
    #elapsed-time, .active{
      background-color: rgb(0, 223, 255);
    }
  }
  &.warm{
    #elapsed-time, .active{
      background-color: rgb(255,180,0);
    }
  }
}


#controls{
  opacity:0.7;
  position:absolute;
  bottom:1em; left:1em;
  @include rect(22em, 15em);
  background-color: $assetBaseColor;
  border: solid 0.8em $assetBaseColor;
    
    li, span{
      flex:1;
    }

    .play-state{
      cursor:pointer;
      width:5%;
    }

  .audio-time{
    .total-time{
      background-color: $baseColor;
      @include rect(80%, 50%);
      transform: skewX(-25deg);
    }
  }
  
  #themes, #graph-options{
    span{
      cursor:pointer;
      transition: $transition;
      text-align:center;
    }
  }
}
